.paste-input {
  display: flex;
  flex-direction: column;
}

.paste-input > textarea {
  flex-grow: 1;
  resize: none;
  margin-top: 8px;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.settings > .subtitle {
  margin-top: 12px;
  margin-bottom: 4px;
}
