.header {
  background-color: #B57AFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  box-shadow: 0 0 4px #00000040;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.account {
  background-color: #00000000;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.links {
  display: flex;
  width: 480px;
  justify-content: space-between;
}

.links button {
  background-color: #FFFFFFA0;
  border: none;
  outline: none;
  cursor: pointer;
  width: 125px;
  border-radius: 1000px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 0 4px #00000040;
}

.links button:hover {
  background-color: #FFFFFF;
  box-shadow: 0 0 8px #00000040;
}
